<style>
  .redundantTableContainer {
    display: flex;
  }
</style>

<div class="redundantTableContainer">
  <table id="productTable">
    <tr>
      <th>Product</th>
      <th>Price</th>
    </tr>
    <tr>
      <td>Product1</td>
      <td>2.50</td>
    </tr>
    <tr>
      <td>Product2</td>
      <td>3.25</td>
    </tr>
    <tr>
      <td>Product3</td>
      <td>4.75</td>
    </tr>
  </table>
  <table id="dealBuilder">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Modifier</th>
    </tr>
    <tr>
      <td>Product1</td>
      <td>2.50</td>
      <td><input type="text"></td>
      <td>
        <select name="modifiers" id="modifiers">
          <option value="=">=</option>
          <option value="-">-</option>
          <option value="-%">-%</option>
	</select>
      </td>
    </tr>
    <tr>
      <td>Product1</td>
      <td>2.50</td>
      <td><input type="text"></td>
      <td>
        <select name="modifiers" id="modifiers">
          <option value="=">=</option>
          <option value="-">-</option>
          <option value="-%">-%</option>
	</select>
      </td>
    </tr>
    <tr>
      <td>Product3</td>
      <td>4.75</td>
      <td><input type="text"></td>
      <td>
        <select name="modifiers" id="modifiers">
          <option value="=">=</option>
          <option value="-">-</option>
          <option value="-%">-%</option>
	</select>
      </td>
    </tr>
    <tr>
      <td>Product2</td>
      <td>3.25</td>
      <td><input type="text"></td>
      <td>
        <select name="modifiers" id="modifiers">
          <option value="=">=</option>
          <option value="-">-</option>
          <option value="-%">-%</option>
	</select>
      </td>
    </tr>
    <tr>
      <td>Product3</td>
      <td>4.75</td>
      <td><input type="text"></td>
      <td>
        <select name="modifiers" id="modifiers">
          <option value="=">=</option>
          <option value="-">-</option>
          <option value="-%">-%</option>
	</select>
      </td>
    </tr>
  </table>

  <table id="dealTable">
    <tr>
      <th>Deal</th>
      <th>Price</th>
    </tr>
    <tr>
      <td>Deal1</td>
      <td>2.50</td>
    </tr>
    <tr>
      <td>Deal2</td>
      <td>3.25</td>
    </tr>
    <tr>
      <td>Deal3</td>
      <td>4.75</td>
    </tr>
  </table>
</div>